<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="/signupa" method="POST">
        <input type="text" name="name" placeholder="이름"><br>
        <input type="password" name="password" placeholder="비밀번호"><br>
        <input type="password" name="confirm_password" placeholder="비밀번호 확인"><br>
        <input type="text" name="share_password" placeholder="공유 비밀번호"><br>
        <input type="text" name="confirm_share_password" placeholder="공유 비밀번호 확인"><br>

        <button type="submit">가입하기</button>
    </form>
</body>
</html>
